<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./templates/style.css">
    <title>Proyectos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="rounded-5" 
                src="./assets/img/logo1.png" alt="Logo" style="height: 40px; width: auto;">
            </a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for item in navItems %}
                        <li class="nav-item">
                            <a 
                                class="nav-link 
                                    {% if item.active %}active{% endif %} 
                                    {% if item.disabled %}disabled{% endif %}"
                                href="{{ item.disabled ? '#' : item.link }}"
                                {% if item.disabled %}aria-disabled="true"{% endif %}
                            >
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center">Mis Proyectos</h1>
        <div class="row justify-content-center">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="{{ project.link }}" target="_blank">
                            <img src="{{ project.image }}" class="card-img-top project-image" alt="{{ project.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="./assets/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
