.img-thumbnail {
    min-width: 200px; 
}
.technology-image {
    -user-drag: none; 
    -webkit-user-drag: none; 
    -moz-user-drag: none; 
    pointer-events: none; 
    max-width: 80%; 
    height: auto; 
    margin: auto; 
}
.project-image {
    max-width: 100%;
    height: auto;
}